/vendor/
/node_modules/
/composer.lock

/etc/build/*
!/etc/build/.gitignore

/tests/TestApplication/shipping_labels
/tests/TestApplication/.env.local
/tests/TestApplication/.env.*.local

/.phpunit.result.cache
/behat.yml
/phpspec.yml
/phpunit.xml
