{% if order %}
    <div
        id="{{ wrapperId|default() ?: "order_#{ order.id }_point_details"}}"
        class="bb-inpost-point-wrapper"
        {% if order.point.name|default(false) %}
            data-bb-event="preview-inpost-point"
            data-bb-point="{{ order.point.name }}"
        {% endif %}
    >
        {% if not order.point %}
            <b>{{ 'bitbag_sylius_inpost_plugin.ui.no_point_selected'|trans }}</b>
        {% endif %}
    </div>
{% endif %}
