.shipping-method-image{
  width: 50px;
}

#shipping-method-label{
  display: flex;
  gap: 0.5em;
  align-items: center;

  .header{
    color: black;
    font-weight: bold;
  }

  .field{
    margin: 0;
  }
}
